@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #77c2fb;
  font-family: 'Noto Sans Japanese', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

h4 {
  font-size: 1.8rem;
  text-align: center;
}

ul, li {
  padding: 0;
  list-style: none;
  font-size: 1.5rem;
}

.all_container {
  position: relative;
  color: #000;
}

.mv {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vw;
}

.mv .flash {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/home_flash.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.mv .logo {
  position: absolute;
  width: 20rem;
  margin: auto;
  top: 11rem;
  right: 0;
  left: 0;
  z-index: 2;
}

.mv img {
  display: block;
  width: 100%;
}

.mv .hand {
  position: absolute;
  width: 16rem;
  margin: auto;
  top: 24rem;
  right: 0px;
  left: 45px;
  z-index: 3;
}

.con_bg {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/bg_wall.png);
  background-repeat: no-repeat;
  margin-top: -10rem;
  overflow: hidden;
  z-index: 4;
}

.content {
  position: relative;
  width: 88%;
  background: rgba(255, 255, 255, 0.7);
  margin: auto;
  padding-bottom: 15rem;
  margin-top: 25rem;
}

.content h3 {
  background: #fff;
  font-size: 2rem;
  padding: 1rem 0;
  text-align: center;
}

.content p {
  font-size: 1.5rem;
  line-height: 2;
  margin: 2rem;
}

.content dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.5rem;
  line-height: 2.5;
  margin: 2rem;
}

.content dt {
  width: 26%;
}

.content dd {
  width: 60%;
  padding-bottom: 2rem;
  -webkit-margin-start: 30px;
          margin-inline-start: 30px;
}

.content .btn_sub {
  margin: auto;
  width: 70%;
}

.content .btn_sub img {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.content .judge h5 {
  font-size: 2rem;
  text-align: center;
}

.content .judge .img_shin {
  width: 55%;
  margin: 2rem auto;
}

.content .judge img {
  width: 100%;
}

.content .award .award_con {
  margin: 3rem 2rem;
}

.content .award .hino, .content .award .we {
  margin-bottom: 2rem;
}

.content .theatre {
  width: 90%;
  margin: auto;
}

.content .theatre img {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.content .btn_hp {
  margin: auto;
  width: 70%;
}

.content .btn_hp img {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

footer .foo_people {
  margin: auto;
}

footer img {
  width: 38rem;
  position: absolute;
  bottom: -60px;
  z-index: 10;
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=index.css.map */