html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body{
  background: $cblue;
  font-family: 'Noto Sans Japanese', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, p{
  margin: 0;
}

h4{
  font-size: 2rem;
  text-align: center;
}

ul, li{
  padding: 0;
  list-style: none;
  font-size: 1.5rem;
}


.all_container{
  position: relative;
  color: $cBlack;
}


.mv{
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vw;

  .flash{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/home_flash.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .logo{
    position: absolute;
    width: 20rem;
    margin: auto;
    top: 11rem;
    right: 0;
    left: 0;
    z-index: 2;
  }

  img{
    display: block;
    width: 100%;
  }

  .hand{
    position: absolute;
    width: 16rem;
    margin: auto;
    top: 24rem;
    right: 0px;
    left: 45px;
    z-index: 3;
}
  }

.con_bg{
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-image: url(../img/bg_wall.png);
  background-repeat: no-repeat;
  margin-top: -10rem;
  overflow: hidden;
  z-index: 4;
}

.content{
  position: relative;
  width: 88%;
  background: rgba(255, 255, 255, 0.7);
  margin: auto;
  padding-bottom: 25rem;
  margin-top: 25rem;

  h3{
    background: #fff;
    font-size: 2.4rem;
    padding: 1rem 0;
    text-align: center;
  }

  p{
    font-size: 1.5rem;
    line-height: 2;
    margin: 2rem;
  }

  dl{
    display: flex;
    flex-wrap: wrap;
    font-size:1.5rem;
    line-height: 2.5;
    margin: 2rem;
  }

  dt{
    width: 26%;
  }

  dd{
    width: 60%;
    padding-bottom: 2rem;
    margin-inline-start: 30px;
  }

  .btn_sub{
    margin: auto;
    width: 70%;

    img{
      width: 100%;
      align-items: center;
      margin-bottom: 2rem;
    }
  }

  .judge{
    h5{
      font-size:2rem;
      text-align: center;
    }

    .img_shin{
      width: 55%;
      margin: 2rem auto;
    }

    img{
      width: 100%;
    }

  }

  .award{
    .award_con{
      margin: 2rem;
    }

    .hita, .we{
      margin-bottom: 2rem;
    }

    ul{
      font-size: 1.8rem;
      font-weight: bold;
      margin: 10px 0;
    }

    .hita_gp, .hita_au, .hita_shin, .hita_sp, .we_gp, .we_jud, .we_shin{
      margin-bottom: 3rem;
    }
  }

  .theatre{
    width: 90%;
    margin: auto;

    img{
      width: 100%;
      align-items: center;
      margin-bottom: 2rem;
    }
  }

  .btn_hp{
    margin: auto;
    width: 70%;

    img{
      width: 100%;
      align-items: center;
      margin-bottom: 2rem;
    }
  }
}

.space{
  position: relative;

  img{
    width: 37rem;
    position: absolute;
    right: 0;
    left: 0;
    top: -17rem;
  }
}